// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.banana {
}

.highlight.normal .region {
    background-color: #444444;
}
.highlight.error .region {
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: red;
}

.highlight.selection .region {
    background-color: #1d744b;
}

.indicator-bar, .diff-overview {
    position: absolute;
    bottom: 15px;
    top: 0px;
    right: 10px;
    width: 10px;
    &.indicator-bar {
        right: 14px;
    }
    &.diff-overview {
        * {
            position: absolute;
            border-right: 3px solid green;
            width: 10px;
            min-height: 2px;
            &.added {
                border-color: green;
            }
            &.removed {
                border-color: #f977ef;
            }
            &.modified {
                border-color: #e0c285;
            }
        }
    }
}

.indicator-resize-sensor {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1px;
    height: 100%;
    visibility: hidden;
}

.indicator {
    position: absolute;
    width: 10px;
    height: 0px;
    border-top: 2px solid green;
    opacity: 0.8;
    &.normal {
        border-top-color: #70a5f9;
    }
    &.error {
        border-top-color: red;
        z-index: 100;
    }
}

.banana-hint {
    >* {
        background-color: #84a7e0;
        color: #333;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 3px;
    }
}
